@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1e272e;
}

.navbar {
  background-color: #2f3640;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease; /* Add transition for smoother animation */
}

/* Add hover animation */
.logo:hover {
  transform: scale(1.1); /* Scale up the logo on hover */
}


/* Navbar.css */

.navbar {
  background-color: #2f3640;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}
